SERVER_PORT = your-server-port
NODE_ENV = which environment it's running in 'development', 'production', or 'test'

DATABASE_URL = postgresql://[user[:password]@][hostspec][:port][/dbname]

ACCESS_TOKEN_SECRET = your-jwt-access-token-secret
REFRESH_TOKEN_SECRET = your-jwt-refresh-token-secret

ACCESS_TOKEN_EXPIRES = your-jwt-access-token-expires example: 7d - 7 days
REFRESH_TOKEN_EXPIRES = your-jwt-refresh-token-expires example: 15m - 15 minutes

CLIENT_URL = client-side url Eg: (http://localhost:3000)

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=redis1234

# Create postgres database with user
# sudo -u postgres psql
# CREATE USER hotcat_user WITH PASSWORD 'hotcat1234';
# ALTER USER hotcat_user CREATEDB;
# CREATE DATABASE hotcat_db OWNER hotcat_user;
# GRANT ALL PRIVILEGES ON DATABASE hotcat_db TO hotcat_user;
# \c hotcat_db
# GRANT ALL ON SCHEMA public TO hotcat_user;
# ALTER SCHEMA public OWNER TO hotcat_user;
# \q
# DATABASE_URL = postgresql://hotcat_user:hotcat1234@localhost:5432/hotcat_db